/* #content {
  margin: .4em;

  display: grid;
  gap: .6em .4em;

  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  justify-content: center;

  border: 2em solid red;
} */



 #content{

  margin: .4em;

  
  display: grid;
  row-gap: .6em;
  column-gap: .4em;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  justify-content: center;

  border: .3em solid #0000; 
} 



.item{
  height: 21em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: .2em solid var(--bkg-clr_00); 
}

#item-game_info_1{
  height: 6.5em;
  margin: 0 .2em 0;

  display: flex;
  flex-direction: column; 
  justify-content: space-around;
}

.item-game_info_1>h3{
  height: 3em;
  padding: .5em;
  background-color: var(--bkg-clr_01);
}

.item-bkg_img{
  height: 12em;
  margin: 0 .2em 0;

  /* border: .1em solid lime; */
}

.item-bkg_img>img{
  height: 100%;
  object-fit: contain;
}

.item-game_info_2{
  font-size: .9em;
  height: 3.5em;
  margin: 0 .2em 0;
  padding: .4em;
  border-top: .1em solid var(--bkg-clr_01); 
}



